body{
  background-color: green;
}
h2{
  font-size: 35px;
}
h1{
  font-size: 35px;
}
h3{
  font-size: 30px;
}
.img{
  width:50%;
  float: left;
}
.intro{
  float:right;
  width: 50%;
  border:2px;
  padding:6px
  margin:6px
}
.ending{
  float-left;
}
body{
  font-family:sans-serif;
  background-color:inherit;
  font-color:black;
}
.important{
  color: blue;
}
